/*Custom Color Variables*/
:root
    {
         --softblue: rgb(146,204,205);
         --darkblue: rgb(68,88,118);
         --currentgrey: rgb(49,52,61);
         --backgroundwhite: rgb(237,237,246);
    }

    .whole-page-container
    {
        background-size: cover;
        background-color: var(--backgroundwhite);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: auto;
        width: 100vw;
        max-width: 1280px;
        max-height: 1920px;
    }

    .header-container
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        background-color: var(--currentgrey);
    }

    .title-container
    {
        flex-basis: 35%;
    }

    .title
    {
        text-align: center;
        width: auto;
        padding: 10px 30px;
         background-color: var(--softblue);
    }
.subtitle
    {
        text-align: center;
        color: var(--softblue);
    }

    a
    {
        margin: 5px;
        color: var(--softblue);
        text-decoration: none;
    }

    .footer-container
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        background-color: var(--currentgrey);
    }




    .aboutMe-container
    {
        display: flex;
        flex-direction: column;
        height: auto;
        width:80%;
        margin: 0 auto;
    }

    .aboutMe
    {
        display: flex;
        flex-direction: column;
        color: var(--softblue);
        text-align: center;
        margin: 10px auto;
        align-items: center;
        height:auto;
        width: 100%;
        border-radius: 15px;
        background-color: var(--darkblue);
        border: 5px solid var(--darkblue);
    }

   .aboutMe-container img
    {
        margin: 5px auto;
        width:100%;
        height: auto;
        border-radius: 15px;
        border: 5px solid var(--softblue);
    }

.portfolio-container
{
    width: 100%;
    border: 5px solid blueviolet;
}

    .project-container
    {
        width: 90%;
        margin: 0 auto;
    }

    .image-container
    {
        width: 200px;
        height: 200px;
        object-fit: cover;
        
    }