/*Custom Color Variables*/
:root
    {
         --softblue: rgb(146,204,205);
         --darkblue: rgb(68,88,118);
         --currentgrey: rgb(49,52,61);
         --backgroundwhite: rgb(237,237,246);
    }

.whole-page-container
    {
        background-size: cover;
        background-color: var(--backgroundwhite);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: auto;
        width: 99vw;

    }

.header-container
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        background-color: var(--currentgrey);
    }

.title-container
    {
        flex-basis: 35%;
    }

.title
    {
        color: black;
        text-align: center;
        width: auto;
        padding: 10px 30px;
         background-color: var(--softblue);
    }
.subtitle
    {
        text-align: center;
        color: var(--softblue);
    }

a
    {
        padding: 5px;
        margin: 5px;
        color: var(--softblue);
        text-decoration: none;
    }

    .current
    {
        background-color: var(--softblue);
        color: var(--currentgrey);
        border-radius: 5px;
    }

.content-container
    {
        height: auto;
        min-height: 200px;
        width: 100%;
        border-top: 5px solid var(--backgroundwhite);
        border-bottom: 5px solid var(--backgroundwhite);
    }

.footer-container
    {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        background-color: var(--currentgrey);
    }

.basic-container
    {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
    }
.basic-container h2
{
    text-align: center;
    width: auto;
    border: 3px solid var(--softblue);
    border-radius: 5px;
    background-color: var(--currentgrey);
    color: var(--softblue);
    padding: 5px;
}
.basic-container p
{
    border: 3px solid var(--currentgrey);
    width: 250px;
    text-align: center;
    background-color: var(--softblue);
    padding: 10px;
    border-radius: 5px;
}

.basic-container img
{
    margin: 5px auto;
    width: 200px;
    height: auto;
    border-radius: 15px;
    border: 5px solid var(--softblue);
}

.profile-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioView
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.segment
{
    width: 100%;
    display: flex;
    align-items: center;
}

.thumbnail
{
    margin: 10px auto;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid var(--softblue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail img
{
    width: 100%;
    height: 100%; 
    object-fit: cover;  
}

.thumbnail h3
{
    display: flex;
    background-color: rgb(146,204,205,0.6);
    width: 250px;
    height: 150px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    text-decoration: underline;
}
.thumbnail h3:hover
{
    opacity: 1;
}

.projectView 
{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectView button
{
    align-self: flex-end;
}

.projectView img
{
    width: 290px;
}

.linkContainer
{
    padding: 10px;
}

.projectView a
{
    margin: 20px;
    color: black;
}

.projectView a:hover
{
    text-decoration: underline;
}

form
{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

label
{
    margin: 5px;
    font-weight: bolder;
}

input
{
    margin: 5px 0;
}
textarea
{
    height: 100px;
}

.btn 
{
    width: 75px;
}

.resume-container
{
    border: 3px solid var(--currentgrey);
    width: 250px;
    text-align: center;
    background-color: var(--softblue);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-container p
{
    border: none;
    margin: 5px 0;
}

.resume-container a
{
    text-decoration: underline;
    color: var(--darkblue);
    margin: 0 -3px;
}

.resume-container a:hover
{
    color: var(--backgroundwhite);
}

.list-container
{
    margin-top: -15px;
    display: flex;
    flex-direction: column;
}

.list-container ul
{
    margin: -15px 0 10px 0;
}

